header>h1 {
    font-size: 50px;
}

h2 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: 50px;
    font-weight: auto;
    font-style: normal;
}

h2 {
    margin: 0;
    font-size: 30px;
}

/* #bigbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

.row1>div {
    display: flex;
    gap: 15px;
}

img {
    width: 50%;
    height: auto;
}