header>h1 {
    font-size: 50px;
}


h1,
h2 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: 50px;
    font-weight: auto;
    font-style: normal;
}

h2 {
    margin: 0;
    font-size: 30px;
}

#bigbox {
    justify-content: center;
}

#bigbox>img {
    height: 25%;
}